# ==========================
# Python
# ==========================
backend/.venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# ==========================
# Environment Files
# ==========================
backend/.env
frontend/.env

# Google Cloud Service Account
backend/config/service-account.json

# ==========================
# Node
# ==========================
frontend/node_modules/
node_modules/

# ==========================
# Build Files
# ==========================
dist/
build/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db